#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to you under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: deploy-release-reusable

on:
  workflow_call:
    inputs:
      java-version:
        description: The Java compiler version
        default: 17
        type: string
      project-id:
        description: Identifier used in the distribution artifact and Subversion repository folder filenames (e.g., `logging-parent`)
        required: true
        type: string
      site-enabled:
        description: Flag indicating if a website should be generated prior to deployment using `./mvnw -N site`
        default: false
        type: boolean
      distribution-attachment-filepath-pattern:
        description: The regex pattern matched against the full filepath for determining attachments to be included in the distribution
        default: |-
          '^.*/target/log4j-(.+)-'${PROJECT_VERSION}'(-tests)?\\.jar$'
        type: string
      distribution-attachment-count:
        description: The number of attachments expected to be found
        required: true
        type: number
    secrets:
      GPG_SECRET_KEY:
        description: GPG secret key for signing artifacts
        required: true
      LOGGING_STAGE_DEPLOYER_USER:
        description: Nexus staging repository username for deploying artifacts
        required: true
      LOGGING_STAGE_DEPLOYER_PW:
        description: Nexus staging repository password for deploying artifacts
        required: true
      SVN_USERNAME:
        description: Subversion username for uploading the release distribution
        required: true
      SVN_PASSWORD:
        description: Subversion password for uploading the release distribution
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repository
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608   # 4.0.0

      - name: Set up Java & GPG
        uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0   # 3.7.0
        with:
          distribution: temurin
          java-version: ${{ inputs.java-version }}
          java-package: jdk
          architecture: x64
          cache: maven
          server-id: apache.releases.https
          server-username: NEXUS_USERNAME
          server-password: NEXUS_PASSWORD
          gpg-private-key: ${{ secrets.GPG_SECRET_KEY }}

      - name: Export version
        shell: bash
        run: |
          [[ "$GIT_BRANCH_NAME" =~ ^release/.+$ ]] || {
            echo "was expecting a \`release/\`-prefixed Git branch name, found: \`$GIT_BRANCH_NAME\`"
            exit 1
          }
          export PROJECT_VERSION=$(echo "$GIT_BRANCH_NAME" | sed 's/^release\///')
          echo "PROJECT_VERSION=$PROJECT_VERSION" >> $GITHUB_ENV
        env:
          GIT_BRANCH_NAME: ${{ github.ref_name }}

      - name: Set the Maven `revision` property
        shell: bash
        run: |
          export REVISION=$(./mvnw \
            --non-recursive --quiet --batch-mode \
            -DforceStdout=true \
            -Dexpression=revision \
            help:evaluate \
            | tail -n 1)
          if [ "$REVISION" != "$PROJECT_VERSION" ]; then
            echo "Maven \`revision\` property \`$REVISION\` doesn't match with the project version \`$PROJECT_VERSION\`, updating \`pom.xml\`..."
            ./mvnw \
              --non-recursive --batch-mode --errors --no-transfer-progress \
              -Dproperty=revision \
              -DnewVersion="$PROJECT_VERSION" \
              -DgenerateBackupPoms=false \
              versions:set-property
            git config user.name "ASF Logging Services RM"
            git config user.email private@logging.apache.org
            git commit -S pom.xml -m "Set version to \`$PROJECT_VERSION\`"
            git push origin
          fi

      - name: Release changelog
        shell: bash
        run: |
          ./mvnw \
            --non-recursive --batch-mode --errors --no-transfer-progress \
            -P changelog-release
          git add src/changelog
          if [ -n "$(git status --porcelain)" ]; then
            git config user.name "ASF Logging Services RM"
            git config user.email private@logging.apache.org
            git commit -S src/changelog -m "Release changelog for version \`$PROJECT_VERSION\`"
            git push origin
          fi

      - name: Commit generated sources
        shell: bash
        run: |
          ./mvnw \
            --non-recursive --batch-mode --errors --no-transfer-progress \
            process-sources
          git add src/site
          if [ -n "$(git status --porcelain)" ]; then
            git config user.name "ASF Logging Services RM"
            git config user.email private@logging.apache.org
            git commit -S src/site -m "Add auto-generated sources"
            git push origin
          fi

      - name: Build the website
        if: inputs.site-enabled
        shell: bash
        run: |
          ./mvnw \
            --show-version --batch-mode --errors --no-transfer-progress \
            --non-recursive \
            site
          cd target/site
          find . -empty -type -d -delete
          find . -print0 | xargs -0 touch -d 1970-01-01T00:00:00Z
          find . -print0 | sort --zero-terminated | xargs -0 zip -oX ../site.zip

      - name: Upload to Nexus
        shell: bash
        run: |
          ./mvnw \
            --show-version --batch-mode --errors --no-transfer-progress \
            -P deploy,release
        env:
          # `NEXUS_USERNAME` and `NEXUS_PASSWORD` are used in `~/.m2/settings.xml` created by `setup-java` action
          NEXUS_USERNAME: ${{ secrets.LOGGING_STAGE_DEPLOYER_USER }}
          NEXUS_PASSWORD: ${{ secrets.LOGGING_STAGE_DEPLOYER_PW }}
          # `SIGN_KEY` is used by `sign-maven-plugin`
          SIGN_KEY: ${{ secrets.GPG_SECRET_KEY }}

      - name: Create the distribution
        shell: bash
        run: |

          # Generate the distribution (i.e., `src.zip` and optional `bin.zip`)
          ./mvnw \
            --show-version --batch-mode --errors --no-transfer-progress \
            --non-recursive \
            -P distribution \
            -DattachmentFilepathPattern=${{ inputs.distribution-attachment-filepath-pattern }} \
            -DattachmentCount=${{ inputs.distribution-attachment-count }}

          # Rename distribution files
          export DIST_FILENAME_PREFIX="apache-${{ inputs.project-id }}"
          export DIST_FILENAME_VERSIONED_PREFIX="${DIST_FILENAME_PREFIX}-${PROJECT_VERSION}"
          export DIST_FILEPATH_PREFIX="/tmp/${DIST_FILENAME_VERSIONED_PREFIX}"
          export DIST_FILEPATH_SRC="${DIST_FILEPATH_PREFIX}-src.zip"
          export DIST_FILEPATH_BIN="${DIST_FILEPATH_PREFIX}-bin.zip"
          mv "target/src.zip" "$DIST_FILEPATH_SRC"
          test -f "target/bin.zip" && mv "$_" "$DIST_FILEPATH_BIN"

          # Create signature and checksum files
          for DIST_FILEPATH in "$DIST_FILEPATH_SRC" "$DIST_FILEPATH_BIN"; do
            if [ -f "$DIST_FILEPATH" ]; then
              gpg --armor --detach-sign --yes --pinentry-mode error "$DIST_FILEPATH"
              sha512sum "$DIST_FILEPATH" \
                | ( read CHECKSUM FILEPATH; echo $CHECKSUM $(basename "$FILEPATH") ) \
                > "$DIST_FILEPATH.sha512"
            fi
          done

          # Pass the necessary environment variables
          cat >> $GITHUB_ENV << EOF
          DIST_FILENAME_PREFIX=$DIST_FILENAME_PREFIX
          DIST_FILENAME_VERSIONED_PREFIX=$DIST_FILENAME_VERSIONED_PREFIX
          DIST_FILEPATH_PREFIX=$DIST_FILEPATH_PREFIX
          EOF

      - name: Upload to Subversion
        shell: bash
        run: |

          # Find the effective Git commit ID
          export COMMIT_ID=$(git rev-parse HEAD)

          # Checkout the SVN repository
          export SVN_DIR="/tmp/svn-repo"
          svn co \
            --depth files \
            "https://dist.apache.org/repos/dist/dev/logging" \
            "$SVN_DIR"
          cd "$SVN_DIR"
          svn up --depth files "$PROJECT_ID"

          # Switch to the project folder
          if [ \! -d "$PROJECT_ID" ]; then
            mkdir -p "$PROJECT_ID"
            svn add "$PROJECT_ID"
          fi
          cd "$PROJECT_ID"

          # Clean up old files
          find . -name "${DIST_FILENAME_PREFIX}*" -type f -print0 | xargs -0 -r svn delete

          # Generate emails
          for EMAIL_TYPE in vote announce; do
            "$GITHUB_WORKSPACE/.github/generate-email.sh" $EMAIL_TYPE $PROJECT_VERSION $COMMIT_ID \
              > "${DIST_FILENAME_VERSIONED_PREFIX}-email-${EMAIL_TYPE}.txt"
          done

          # Copy the site
          if [ "$SITE_ENABLED" == "true" ]; then
            cp "$GITHUB_WORKSPACE/target/site.zip" "${DIST_FILENAME_VERSIONED_PREFIX}-site.zip"
          fi

          # Copy the distribution
          cp "$DIST_FILEPATH_PREFIX"* .

          # Add & commit changes
          svn add "$DIST_FILENAME_PREFIX"*
          svn commit \
            --username "$SVN_USERNAME" \
            --password "$SVN_PASSWORD" \
            -m "Added \`${DIST_FILENAME_PREFIX}\` artifacts for release \`${PROJECT_VERSION}\`"

        env:
          PROJECT_ID: ${{ inputs.project-id }}
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
          SITE_ENABLED: ${{ inputs.site-enabled }}
